.header {
    background: linear-gradient(14deg, rgba(184, 156, 57, 0.342) 0%, rgba(88, 82, 57, 0.762) 40%, rgba(5,5,5,0.804359243697479) 100%), url(../img/header-background.jpg)no-repeat center;
    width: 100%;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    position: relative;

    &__logo {
        width: 5.6rem;
        height: 7rem;
        position: absolute;
        top: 5rem;
        left: 5rem;
    }
    &__box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
}
.title-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    &__main {
        font-size: 6rem;
        line-height: 120%; /* 60/50 */
        letter-spacing: 1rem;
        text-transform: uppercase;
        animation-name: textAnimate;
        animation-duration: 4s;
    }

    &__secondary {
        font-weight: 100;
        font-size: 4rem;
        line-height: 100%; /* 40/40 */
        letter-spacing: 0.5rem;
        animation-name: textAnimate2;
        animation-duration: 4s;
        margin-bottom: 6.5rem;
    }
}
.text-secondary {
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(14deg, rgba($color-brown-l, 0.342) 0%, rgba($color-brown-d, 0.762) 60%, rgba(5,5,5,0.804359243697479) 80%);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.4s;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1);
        text-shadow: 0rem, 4rem, 4rem (rgba(0, 0, 0, 0.473));
    }
}
.text-section {
    max-width: 36%;
}
.text__description  {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 700;
}
.lorem__description {
    font-size: 1.6rem;
    letter-spacing: .2rem;
    line-height: 140%;
    font-weight: 400;
}
