.tour-box {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.tour-card {
    width: 34rem;
    height: 52rem;    
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    &__side {
        height: 52rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease-in-out;
        color: white;
        backface-visibility: hidden;
        box-shadow: 0 1rem 0.5rem gray;
        &_front {
            background-color: white;
        }
        &_back {
            background: linear-gradient(120deg, $color-brown-l, $color-brown-d);
            transform: rotateY(180deg);  
            display: flex;
            flex-direction: column;
            gap: 8rem;
            justify-content: center;
            align-items: center;
        }
    }
    &:hover &__side_front {
        transform: rotateY(-180deg);
    }
    &:hover &__side_back {
        transform: rotateY(0);
    }
    
    &__img {
        background-blend-mode: hard-light;
        height: 23rem;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        &_1 {
            background: $color-brown-l url(/img/card-1.jpg) center / cover no-repeat;
        }
        &_2 {
            background: $color-brown-l url(/img/card-2.jpg) center / cover no-repeat;
        }
        &_3 {
            background: $color-brown-l url(/img/card-3.jpg) center / cover no-repeat;
        }
    }
    &__title {
        font-size: 2.8rem;
        letter-spacing: 0.2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        top: 17rem;
        right: 0;
    }
    &__span {
        background: linear-gradient(120deg, rgba($color-brown-l, 7) 3%, rgba($color-brown-d, 7) 99.94%);
        padding: 1rem 2rem .3rem 2rem;
        &_2 {
            position: absolute;
            top: 3.4rem;
            right: 0;
            padding-bottom: 1rem;
        }
    }
    &__descr {
        margin-top: 5rem;
        ul {
            list-style: none;
            margin: 0 auto;
            text-align: center;
            width: 65%;
            li {
                font-size: 1.6rem;
                color: $color-grey;
                letter-spacing: 0.2rem;
                border-bottom: 1px solid $color-grey;
                display: inline-block;
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            } 
        }
    }
    &__text {
        &_1 {
            font-size: 1.6rem;
            list-style: .2rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        &_2 {
            font-size: 6rem;
            font-weight: 500;
        }
    }
}
.btn-botton {
    text-align: center;
    margin: 8rem 0;
}

