*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include respond(tab-lend){
        font-size: 56%;
    }
    @include respond(tab-port){
        font-size: 50%;
    }
    @include respond(phone){
        font-size: 30%;
    }
    @include respond(big-screen){
        font-size: 75%;
    }
}

body {
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: gray;
    letter-spacing: 0.2rem;
    background-color: white;
}

.container {
    background-color: #f7f7f7;
    max-width: 1342px;
    margin: 5rem auto;
    z-index: 0;
    position: relative;
}